### cmake related files
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*/build/*

### python's cache
__pycache__

### editor related stuff
.vscode

### stored models
*/models/*